.header-link,
.footer-link {
  &:after {
    @apply absolute w-full h-px pin-l bg-indigo;
    content: '';
    transform: scaleX(0);
    bottom: -.2rem;
    transform-origin: bottom right;
    transition: transform 350ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  &:hover, &.active {
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.footer-link:after {
  @apply bg-white;
}
