.btn {
  @apply bg-indigo-400 text-white rounded-full text-xs font-semibold;
  transition: all 350ms;

  &--lightest {
    @apply bg-indigo-100 text-indigo-500;
  }

  &--sm {
    @apply py-1 px-4;
  }

  &--link:not(:disabled):hover {
    @apply shadow-outline-indigo bg-indigo-500;
  }

  &:disabled {
    @apply bg-gray-400 cursor-not-allowed;
  }
}
