@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

body {
  @apply font-light;
  line-height: 1.15;
}

strong {
  @apply font-semibold;
}

h1 {
  @apply font-bold text-4xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-semibold text-lg;
}

a {
  @apply no-underline text-indigo-500;

  @screen dark-mode {
    @apply text-white;
  }

  &:hover {
    @apply underline;
  }
}

p,
h2 {
  @apply my-4;
}
